/**
* Template Name: Appland - v4.7.0
* Template URL: https://bootstrapmade.com/free-bootstrap-app-landing-page-template/
* Author: BootstrapMade.com
* License: https://bootstrapmade.com/license/
*/

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #585a61;
}

a {
  color: #5777ba;
  text-decoration: none;
}

a:hover {
  color: #7b94c9;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #5777ba;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #748ec6;
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

#
  Disable
  aos
  animation
  delay
  on
  mobile
  devices
  --------------------------------------------------------------*/
  @media
  screen
  and
  (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding: 15px 0;
  background: rgba(255, 255, 255, 0.95);
}
#header.header-transparent {
  background: transparent;
}
#header.header-scrolled {
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
#header .logo h1 {
  font-size: 30px;
  margin: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 2px;
}
#header .logo h1 a,
#header .logo h1 a:hover {
  color: #5777ba;
  text-decoration: none;
}
#header .logo img {
  margin: 0;
  max-height: 40px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  color: #47536e;
  white-space: nowrap;
  transition: 0.3s;
}
.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: #5777ba;
}
.navbar .getstarted,
.navbar .getstarted:focus {
  background: #5777ba;
  color: #fff;
  padding: 12px 25px;
  margin-left: 30px;
  color: #fff;
  line-height: 1;
  border-radius: 50px;
}
.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  background: #748ec6;
  color: #fff;
}
.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}
.navbar .dropdown ul li {
  min-width: 200px;
}
.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 15px;
  text-transform: none;
  font-weight: 600;
}
.navbar .dropdown ul a i {
  font-size: 12px;
}
.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
  color: #5777ba;
}
.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #47536e;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}
.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(51, 60, 79, 0.9);
  transition: 0.3s;
  z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 6px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #47536e;
}
.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
  color: #5777ba;
}
.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}
.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul li {
  min-width: 200px;
}
.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}
.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}
.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
  color: #5777ba;
}
.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 140px 0 100px 0;
}
#hero::before {
  content: "";
  position: absolute;
  right: -108%;
  top: 20%;
  width: 250%;
  height: 200%;
  z-index: -1;
  background-color: #9cebff;
  transform: skewY(135deg);
}
#hero h1 {
  margin: 0 0 40px 0;
  font-size: 32px;
  font-weight: 500;
  line-height: 36px;
  color: #2c2d8a;
  font-family: "Poppins", sans-serif;
}
#hero h2 {
  color: #515f7d;
  margin-bottom: 50px;
  font-size: 20px;
}
#hero h4 {
  margin-top: 60px;
  font-size: 20px;
  font-weight: 700;
}
#hero p {
  font-size: 15px;
  color: #0090bb;
}
#hero form button {
  font-size: 13px;
  padding: 6px 15px;
  border: 1px solid;
  margin-left: 5px;
}
#hero form input {
  font-size: 13px;
  padding: 5px 5px;
  width: 50%;
}
#hero .download-btn {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 15px;
  display: inline-block;
  padding: 8px 24px 10px 46px;
  border-radius: 10px;
  transition: 0.5s;
  color: #fff;
  background: #2c2d8a;
  position: relative;
}
#hero .download-btn:hover {
  background: #5777ba;
}
#hero .download-btn i {
  font-size: 20px;
  position: absolute;
  left: 18px;
  top: 8.5px;
}
#hero .download-btn + .download-btn {
  margin-left: 20px;
}

@media (max-width: 991px) {
  #hero {
    text-align: center;
  }
  #hero .download-btn + .download-btn {
    margin: 0 10px;
  }
  #hero .hero-img {
    text-align: center;
  }
  #hero .hero-img img {
    width: 60%;
  }
}
@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  #hero .hero-img img {
    width: 70%;
  }
}
@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #9cebff;
}
.section-bg2{
  background-color: #f2f5fa;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}
.section-title h2, .videos-title h2 {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #2c2d8a;
  font-family: "Poppins", sans-serif;
  text-align: center;
}
.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  background-color: #f6f8fb;
  min-height: 40px;
}
.breadcrumbs h2 {
  font-size: 24px;
  font-weight: 300;
}
.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}
.breadcrumbs ol li + li {
  padding-left: 10px;
}
.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #6c757d;
  content: "/";
}
@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }
  .breadcrumbs ol {
    display: block;
  }
  .breadcrumbs ol li {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
# App Features
--------------------------------------------------------------*/
.features .content {
  padding: 30px 0;
}
.features .content .icon-box {
  margin-top: 25px;
}
.features .content .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 5px 0 10px 50px;
  color: #2c2d8a;
}
.features .content .row .wid-50{ width: 50%;}
.features .content .icon-box i {
  font-size: 48px;
  float: left;
  color: #2c2d8a;
}.features .content .icon-box img {
  float: left;
  width: 40px;
  height: 40px;
}

.features .content .icon-box p {
  font-size: 15px;
  color: #979aa1;
  margin-left: 50px;
}
@media (max-width: 991px) {
  .features .image {
    text-align: center;
  }
  .features .image img {
    max-width: 80%;
  }
}
@media (max-width: 667px) {
  .features .image img {
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  .features .content .row .wid-50 {
    width: 100%;
}
}
@media (min-width: 768px){
.features .content .row .wid-50{
   max-width: 50%;
}
}

/*--------------------------------------------------------------
# Details
--------------------------------------------------------------*/
.details .content + .content {
  margin-top: 20px;
}
.details .content h3 {
  font-weight: 700;
  font-size: 32px;
  color: #2c2d8a;
}
.details .content ul {
  list-style: none;
  padding: 0;
}
.details .content ul li {
  padding-bottom: 10px;
  display: flex;
}
.details .content ul i {
  font-size: 24px;
  padding-right: 2px;
  color: #2c2d8a;
  line-height: 0;
}
.details .content p:last-child {
  margin-bottom: 0;
}
.details .content ul li p{
  /* display: flex; */
}

/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/
.gallery {
  overflow: hidden;
}
.gallery .swiper-slide {
  transition: 0.3s;
}
.gallery .swiper-pagination {
  margin-top: 20px;
  position: relative;
}
.gallery .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #2c2d8a;
}
.gallery .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #2c2d8a;
}
.gallery .swiper-slide-active {
  text-align: center;
}
@media (min-width: 992px) {
  .gallery .swiper-wrapper {
    padding: 40px 0;
  }
  .gallery .swiper-slide-active {
    border: 6px solid #2c2d8a;
    padding: 4px;
    background: #fff;
    z-index: 1;
    transform: scale(1.2);
    margin-top: 10px;
    border-radius: 25px;
  }
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials .testimonials-carousel,
.testimonials .testimonials-slider {
  overflow: hidden;
}
.testimonials .testimonial-item {
  box-sizing: content-box;
  /* padding: 30px 30px 30px 120px;
  margin: 30px 10px 30px 50px; */
  min-height: 200px;
  /* box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.08); */
  position: relative;
  background: #fff;
  text-align: center;
}
.testimonials .testimonial-item .testimonial-img {
  width: 100px;
  border-radius: 50px;
  border: 6px solid #fff;
  /* position: absolute; */
  /* left: -55px; */
}
.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #2c2d8a;
}
.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
}
.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
  color: #2c2d8a;
  font-size: 26px;
}
.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}
.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}
.testimonials .testimonial-item p {
  font-style: italic;
  margin: 15px auto 15px auto;
  color: #2c2d8a;
font-weight: 700;
}
.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}
.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #2c2d8a;
}
.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #2c2d8a;
}

/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/
.pricing .row {
  padding-top: 40px;
}
.pricing .box {
  padding: 40px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
  background: #fff;
  text-align: center;
}
.pricing h3 {
  font-weight: 300;
  margin-bottom: 15px;
  font-size: 28px;
}
.pricing h4 {
  font-size: 46px;
  color: #5777ba;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 25px;
}
.pricing h4 span {
  color: #bababa;
  font-size: 18px;
  display: block;
}
.pricing ul {
  padding: 0;
  list-style: none;
  color: #999;
  text-align: left;
  line-height: 20px;
}
.pricing ul li {
  padding-bottom: 12px;
}
.pricing ul i {
  color: #5777ba;
  font-size: 18px;
  padding-right: 4px;
}
.pricing ul .na {
  color: #ccc;
}
.pricing ul .na i {
  color: #ccc;
}
.pricing ul .na span {
  text-decoration: line-through;
}
.pricing .get-started-btn {
  background: #47536e;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 20px;
  color: #fff;
  transition: none;
  font-size: 14px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  transition: 0.3s;
}
.pricing .get-started-btn:hover {
  background: #5777ba;
}
.pricing .featured {
  z-index: 10;
  margin: -30px -5px 0 -5px;
}
.pricing .featured .get-started-btn {
  background: #5777ba;
}
.pricing .featured .get-started-btn:hover {
  background: #748ec6;
}
@media (max-width: 992px) {
  .pricing .box {
    max-width: 60%;
    margin: 0 auto 30px auto;
  }
}
@media (max-width: 767px) {
  .pricing .box {
    max-width: 80%;
    margin: 0 auto 30px auto;
  }
}
@media (max-width: 420px) {
  .pricing .box {
    max-width: 100%;
    margin: 0 auto 30px auto;
  }
}

/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/
.faq .accordion-list {
  padding: 0 100px;
  text-align: left;
}
.faq .accordion-list ul {
  padding: 0;
  list-style: none;
}
.faq .accordion-list li + li {
  margin-top: 15px;
}
.faq .accordion-list li {
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  position: relative;
}
.faq .accordion-list a {
  display: block;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding: 0 30px;
  outline: none;
  cursor: pointer;
}
.faq .accordion-list .icon-help {
  font-size: 24px;
  position: absolute;
  right: 0;
  left: 20px;
  color: #b1c0df;
}
.faq .accordion-list .icon-show,
.faq .accordion-list .icon-close {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}
.faq .accordion-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
}
.faq .accordion-list .icon-show {
  display: none;
}
.faq .accordion-list a.collapsed {
  color: #343a40;
}
.faq .accordion-list a.collapsed:hover {
  color: #5777ba;
}
.faq .accordion-list a.collapsed .icon-show {
  display: inline-block;
}
.faq .accordion-list a.collapsed .icon-close {
  display: none;
}
@media (max-width: 1200px) {
  .faq .accordion-list {
    padding: 0;
  }
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
  padding: 20px 40px;
  background: #f1f3f6;
  color: #47536e;
  text-align: center;
  border: 1px solid #fff;
}
.contact .info i {
  font-size: 48px;
  color: #9fb2d8;
  margin-bottom: 15px;
}
.contact .info h4 {
  padding: 0;
  margin: 0 0 10px 0;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}
.contact .info p {
  font-size: 15px;
}
.contact .php-email-form {
  width: 100%;
}
.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}
.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}
.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}
.contact .php-email-form label {
  font-family: "Poppins", sans-serif;
  margin-bottom: 5px;
  color: #8a8c95;
}
.contact .php-email-form input,
.contact .php-email-form select {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}
.contact .php-email-form input:focus,
.contact .php-email-form select:focus,
  .contact .php-email-form option:focus{
  border-color: #5777ba;
}
.contact .php-email-form input {
  padding: 10px 15px;
}
.contact .php-email-form select {
  padding: 6px 15px;
  width: 100%;
  border: 1px solid #ced4da;
  color: #585a61;
}
.contact .php-email-form select option{
  padding-right: 10px;
  
}
/* .contact .php-email-form select, .contact .php-email-form option{
  padding: 12px 15px;
} */
.contact .php-email-form button[type="submit"] {
  background: #fff;
  border: 2px solid #5777ba;
  padding: 10px 24px;
  color: #5777ba;
  transition: 0.4s;
  border-radius: 50px;
  margin-top: 5px;
}
.contact .php-email-form button[type="submit"]:hover {
  background: #5777ba;
  color: #fff;
}
@media (max-width: 1024px) {
  .contact .php-email-form {
    padding: 30px 15px 15px 15px;
  }
}
@media (max-width: 768px) {
  .contact .php-email-form {
    padding: 15px 0 0 0;
  }
}
@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.row .col-lg-6 #center {
  display: flex;
  justify-content: center;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #fff;
  padding: 0 0 30px 0;
  color: #47536e;
  font-size: 14px;
  background: #eff2f8;
}
#footer .footer-newsletter {
  padding: 50px 0;
  background: #eff2f8;
  text-align: center;
  font-size: 15px;
}
#footer .footer-newsletter h4 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  color: #47536e;
}
#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  text-align: left;
}
#footer .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}
#footer .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #5777ba;
  color: #fff;
  transition: 0.3s;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
#footer .footer-newsletter form input[type="submit"]:hover {
  background: #415f9d;
}
#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #fff;
}
#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}
#footer .footer-top .footer-contact h4 {
  font-size: 22px;
  margin: 0 0 30px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
  color: #47536e;
}
#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #8a8c95;
  padding-left: 10px;
}
#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #47536e;
  position: relative;
  padding-bottom: 12px;
}
#footer .footer-top .footer-links {
  margin-bottom: 30px;
}
#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #9fb2d8;
  font-size: 18px;
  line-height: 1;
}
#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}
#footer .footer-top .footer-links ul a {
  color: #8a8c95;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
  
}
.footer-imgage-logo {
  width: 100px;
}
.footer-imgage-logo img{
  width: 100%;
}
#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #5777ba;
}
#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #5777ba;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
#footer .footer-top .social-links a:hover {
  background: #27282c;
  color: #fff;
  text-decoration: none;
}
#footer .copyright {
  text-align: center;
  float: left;
  color: #47536e;
}
#footer .credits {
  float: right;
  text-align: center;
  font-size: 13px;
  color: #47536e;
}
@media (max-width: 768px) {
  #footer .copyright,
  #footer .credits {
    float: none;
    text-align: center;
    padding: 5px 0;
  }
}

/*------------------------------------------------------------------maxdigi start------------------------------------------------------------------------*/
.pt-0{ padding-top: 0;}
.features .row.no-gutters{ align-items: flex-start;}
#hero .download-btn.thoughts {
  padding-left: 24px;
  margin-left: 0 !important;
  background-color: #17a2b8;
}
/*------------------------Our well-being program--------------------------------------*/
.being-program {
  padding: 0 0 20px;
}
.being-program .section-title {
  padding-bottom: 5px;
}
.program-list {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}
.program-list li {
  display: flex;
  width: 33.3333%;
  margin: 0;
  padding: 0;
  position: relative;
  padding: 12px;
}
.program-list li .content-box {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 15px;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 0.3);
  align-items: flex-start;
    align-content: flex-start;
}
.program-list li .content-box .ico-box {
  width: 100%;
  text-align: center;
}
.program-list li .content-box .ico-box img {
  width: 50px;
}
.program-list li .content-box .data-box {
  width: 100%;
}
.program-list li .content-box .data-box h4 {
  text-align: center;
  margin: 20px 0;
  font-size: 19px;
  color: #2b2b89;
  font-weight: 600;
}
.program-list li .content-box .data-box p {
  font-size: 15px;
  margin-bottom: 5px;
  position: relative;
  padding-left: 5px;
  /* padding-left: 18px; */
}
.program-list li .content-box .data-box p:before {
  /* content: "\f26e"; */
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: absolute;
  left: 0;
  top: 2px;
  font-size: 18px;
}

/*------------------------Our well-being program end--------------------------------------*/

/*------------------------gallery--------------------------------------*/
.gallery {
  padding-top: 0;
}
/*------------------------fitSEA for Corporate firms Section--------------------------------------*/
.fitsea .program-list{ flex-flow: row wrap;}
.fitsea .program-list li{ width: 25%;}
.fitsea .program-list li .content-box .data-box p{ padding-left:0; text-align: center;}
.fitsea .program-list li .content-box .data-box p:before{ display: none;}
div#enquire-btn {
  text-align: center;
  margin-top: 20px;
}
div#enquire-btn a {
  border: 2px solid;
  font-size: 13px;
  padding: 6px 15px;
  border: 2px solid #2c2d8a;
  border-radius: 10px;
  transition: 0.5s;
}
div#enquire-btn a:hover{
  background-color: #2c2d8a;
  color: #fff;
}



.testimonials-slider{ width: 760px !important;}


/*--------------------------brand---------------*/

.brands .program-list li .content-box{ box-shadow: none;}

element.style {
  width: 352px;
  margin-right: 30px;
}
.brands-swiper .swiper-wrapper .brands-swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 150px;
  padding: 10px;
  background: white;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
  cursor: pointer;
}

.brands-swiper .swiper-wrapper .brands-swiper-slide img {
  display: block;
  width: 100%;
}

.brands-swiper .swiper-wrapper {
  /* width: 33.33%; */
  height: 200px;
}
.brands-swiper .swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #2c2d8a;
}

.brands-swiper .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #2c2d8a;
}
#brands .container .content div h4 {
  text-align: center;
  font-size: 19px;
  color: #2b2b89;
  font-weight: 700;
}

#brands .container .content div a {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 15px;
  display: inline-block;
  padding: 7px 40px;
  border-radius: 20px;
  transition: 0.5s;
  color: #fff;
  background: #2c2d8a;
  position: relative;
}
#brands .container .content div a:hover{background: #5777ba;}
  #brands .container .content div{
    text-align: center;
  }

  


/* --------------------Videos------------------------ */
.swiper {
  width: 100%;
}



element.style {
  width: 352px;
  margin-right: 30px;
}
.videos-main-box .swiper-wrapper .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 210px;
  padding: 10px;
  background: white;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
  cursor: pointer;
}
.videos-main-box .swiper-wrapper .swiper-slide iframe {
  width: 100%;
  cursor: pointer;
  /* height: 100%; */
}
.videos-main-box .swiper-wrapper .swiper-slide p{
  font-size: 15px;
  margin-bottom: 5px;
  position: relative;
  /* padding-left: 5px; */
  /* padding-left: 18px; */
}
.swiper-slide a.model-btn {
  position: relative;
  width: 100%;
  display: inline-flex;
  z-index: 2;
}

.videos-main-box .swiper-wrapper .swiper-slide a img {
  display: block;
  width: 100%;
  height: 150px;
}

.videos-main-box .swiper-wrapper {
  width: 33.33%;
  height: 250px;
}
.videos-main-box .swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #2c2d8a;

}
.videos-main-box .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #2c2d8a;
}
.modal-dialog {
  height: 522px;
  width: 60%;
}
.modal-content {
  height: 100%;
}
.modal-body, .modal-body iframe {
  width: 100%;
  height: 100%;
  padding: 0;
  box-shadow: inset 5px 6px 7px 6px rgb(0 0 0 / 20%);
  outline: none;
}
.modal-footer button.btn.btn-danger {
  padding: 5px 18px;
  border-radius: 50px;
}














@media (max-width: 1023px) {
  .program-list{flex-flow: row wrap;}
  .program-list li{ width: 100%;}
  .fitsea .program-list li { width: 50%;}
  .testimonials-slider { width: 100% !important;}


}
@media (max-width: 767px) {
  #hero .download-btn.thoughts{margin-top: 20px;}
  .fitsea .program-list li { width: 100%;}
  .section-title h2{ font-size: 24px; margin-top: 40px;}
  #hero h1 { font-size: 25px; line-height: 30px;}
  .brands .program-list li .content-box{ padding: 0;}
  .fitsea,.brands{padding-top: 0;}
  .brands-swiper .swiper-wrapper .brands-swiper-slide {
    height: 120px;
}

}
/*------------------------------------------------------------------maxdigi end------------------------------------------------------------------------*/
